#presentation_section {
  flex-direction: column;
  justify-content: center;
  
  .card {
    max-width: 100%;
    width: max-content;
    margin-top: 0.5rem;
    border: 0;
    padding: 1rem;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--presentationCard-color);
    color: var(--bg-color);

    &:hover {
      scale: initial;

      .frontface{
        rotate: y 180deg;
      }
      .backface {
        rotate: y 0deg;
      }

      .seeMore {
        padding-bottom: .8rem;
      }
    }

    .arrow {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      font-size: 3rem;
      rotate: 240deg;
      z-index: 1;
      animation: arrowPresentationCard 1500ms infinite;
    }

    .seeMore {
      padding-bottom: .5rem;
    }
  }
}

.mainPresentation {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.profileObjects_container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture_container {
  width: 75%;
  aspect-ratio: 1;
  position: relative;
  
  >div {
    aspect-ratio: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    perspective: 10px;
    transition: rotate 888ms;
  }
  
  >.frontface {
    border-radius: 60% 25%;
    background-color: var(--main-color);
    rotate: y 0deg;
  }
  >.backface {
    border-radius: 25% 60%;
    background-color: var(--third-color);
    rotate: y 180deg;
  }

  img {
    width: 80%; 
    aspect-ratio: 1; 
    border-radius: inherit;
  }
}

.profileInfo_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  
  .contactMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0.5em 0.2em;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--bg-contrast-color);
  }
  li {
    z-index: 2;
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
  
    &:hover svg {
      color: var(--main-color);
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }
  h2,h3 {
    text-align: center;
  }
}
.buttonZone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px 0;

  > li {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bg-contrast-color);
    color: var(--bg-color);
    font-size: 1.25rem;
    font-weight: 600;

    &:hover {
      box-shadow: 10px 10px 0 0 var(--secondary-color);
      rotate: 5deg;
      scale: 1.1;
      transition: 400ms;
    }
  }
}

.aboutMe {
  background-color: var(--third-color);
  color: var(--bg-color);
  width: 100%;
  padding: 128px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  border: 10px solid var(--bg-color);
  outline: 7px solid var(--bg-contrast-color);
  box-sizing: border-box;
  border-radius: 4px;

  article {
    max-width: 400px;
    padding: 1rem;

    p + p {
      margin-top: 8px;
    }
  }

  img {
    width: 100%;
    filter: drop-shadow(3px 5px 2px);
  }

  h3 {
    text-align: center;
  }
}

@keyframes arrowPresentationCard {
  50% {
    rotate: 260deg;
    transform: translateY(-5px);
  }
  100% {
    rotate: 240deg;
    transform: translateY(0px);
  }
}

@media (max-width: 719px){
  .mainPresentation {
    margin-top: 1rem;
    flex-direction: column;

    .seeMore {
      right: 0;
    }
  }

  .profileInfo_container > p {
    max-width: 50ch;
  }
}