#skills_section {
  display: block;
  text-align: center;
  font-weight: bold;

  .skillLogo {
    gap: 8px;
    height: 100%;
    justify-content: flex-start;

    &::before {
      width: 40px;
    }
  }
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
    align-items: center;
    min-width: 40%;
    max-width: 100%;
    gap: 8px;
    height: 100%;
  }
}
