#contact_section {
  > div {
    text-align: center;
  }

  svg {
    display: none;
    width: 64px;
    animation: miniLoading 3s infinite;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: var(--page-bg-color2);
    color: white;
    border-radius: 16px;
    font-size: 1.2rem;

    textarea {
      resize: none;
    }

    input, textarea {
      padding: .3rem;
    }
  }

  a {
    color: var(--third-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .important {
    color: var(--neon-secondary-color);
  }
}

.subForm {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;

  > label {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  > label + label {
    margin-top: 8px;
  }
}

@media (max-width: 719px) {
  .subForm > label {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@keyframes miniLoading {
  15% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  65% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}