#presentation_section {
  flex-direction: column;
  justify-content: center;
  
  .card {
    border: 4px solid var(--neon-third-color);
    margin-top: 0.5rem;
    max-width: 100%;
    width: max-content;
    
    color: var(--bg-color);
    background-color: var(--third-color-dark);

    &:hover {
      scale: initial;
      filter: drop-shadow(var(--neon-shadows1-principal) var(--neon-third-color)) drop-shadow(var(--neon-shadows1-secondary) var(--third-color));
      
      .profilePicture_container {
        border-color: var(--neon-third-color);
        filter: drop-shadow(var(--neon-shadows1-principal) var(--neon-third-color)) drop-shadow(var(--neon-shadows1-secondary) var(--third-color));


        img:first-child {
          clip-path: inset(100% 0);
        }
        img:last-child {
          clip-path: inset(0);
        }
      }


      .seeMore {
        padding-bottom: .8rem;
      }
    }

    .seeMore {
      padding-bottom: .5rem;
    }
  }
}

.mainPresentation {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.profileObjects_container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture_container {
  width: 75%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 6px solid var(--third-color);
  transition: filter 400ms ease-out;
  
  > img {
    position: absolute;
    width: 100%; 
    aspect-ratio: 1; 
    border-radius: inherit;
    transition: clip-path 400ms steps(4);
  }

  > img:first-child {
    clip-path: inset(0 0);
  }
  
  > img:last-child {
    clip-path: inset(100% 0);
  }
}

.profileInfo_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-shadow: 5px -5px 5px black;
  
  .contactMe {
    padding: 0.5em 0.5em 0.2em;
    border: 2px solid var(--neon-secondary-color);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--secondary-color);
    color: var(--bg-contrast-color);
    filter: drop-shadow(var(--neon-shadows2-principal) var(--neon-secondary-color)) drop-shadow(var(--neon-shadows2-secondary) var(--secondary-color));
  }

  li {
    z-index: 2;
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
  
    &:hover svg {
      color: var(--font-color);
      filter: drop-shadow(var(--neon-shadows2-principal) var(--font-color));
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }

  h2,h3 {
    text-align: center;
  }
}

.buttonZone {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  
  .arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3rem;
    rotate: 170deg;
    z-index: 1;
    animation: arrowPresentationCard 1500ms infinite;
  }
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px 0;

  > li {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bg-contrast-color);
    color: var(--bg-color);
    font-size: 1.25rem;
    font-weight: 600;

    &:hover {
      box-shadow: 10px 10px 0 0 var(--secondary-color);
      rotate: 5deg;
      scale: 1.1;
      transition: 400ms;
    }
  }
}

.aboutMe {
  background-color: var(--third-color);
  color: var(--bg-color);
  width: 100%;
  padding: 128px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  border: 10px solid var(--bg-color);
  outline: 7px solid var(--bg-contrast-color);
  box-sizing: border-box;
  border-radius: 4px;

  article {
    max-width: 400px;
    padding: 1rem;

    p + p {
      margin-top: 8px;
    }
  }

  img {
    width: 100%;
    filter: drop-shadow(3px 5px 2px);
  }

  h3 {
    text-align: center;
  }
}

@keyframes arrowPresentationCard {
  50% {
    rotate: 200deg;
    transform: translate(5px, -10px);
  }
  100% {
    rotate: 170deg;
    transform: translate(0px, 0px);
  }
}

@media (max-width: 719px) or (max-height: 719px) {
  .mainPresentation {
    margin-top: 1rem;
    flex-direction: column;

    .seeMore {
      right: 0;
    }
  }

  .profileInfo_container {
    width: 100%;
    
    .buttonZone {
      align-items: center;
      flex-direction: column;
    }
  }
}