#projects_section {
  >.projectCards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  >.portfolioCard_zone {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    width: 100%;

    img {
      max-width: 100%;
    }
  }
}

#portfolio_projectCard {
  grid-template-columns: auto;
  height: min-content;

  >.projectCard_info {
    grid-column: 1;
  }
}

.projectCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: var(--font-color);

  h3 {
    color: var(--neon-main-color);
  }

  &:hover div.background {
    opacity: 0.3 !important;
    transition: opacity 300ms ease;
  }

  &>.projectCard_info {

    .pC_header,
    .pC_footer {
      width: 100%;
      position: relative;
    }

    .pC_header::after,
    .pC_footer::before {
      content: "";
      display: block;
      background-color: var(--main-color);
      width: calc(100% + 1rem);
      height: 2px;
      position: absolute;
      left: -1rem;
    }

    .pC_body {
      margin: 1rem 0 1.5rem;
      max-width: 70ch;
      border-radius: 8px;
      padding: 1rem;
      background-color: var(--page-bg-color);

      &>* {
        margin: 0.7rem 0;
      }

      .pC_features {
        list-style-type: circle;
        padding-left: 1.2rem;
      }
    }

    .pC_skillsList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
      align-items: start;
      gap: 8px;
      width: 100%;
    }

    .pC_link {
      color: var(--main-color);
      font-size: 1.3rem;
      font-weight: 700;
    }

    .linkZone {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  >.projectCard_demo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;

    > div {
      display: flex;
      min-width: 300px;
      perspective: 1px;
      rotate: y -1.5deg;
      box-shadow: 0 0 6px white;
    }

    div.background {
      opacity: 0.5;
      z-index: 10;
    }

    video, img, div.background {
      width: 100%;
      min-width: 300px;
      aspect-ratio: 16/9;
      object-fit: cover;
    }

    &.mobile {
      img, div.background {
        max-width: 300px;
        aspect-ratio: 9/16;
      }
    }
  }
}

.projectCard:nth-child(even) {
  direction: rtl;

  >.projectCard_info {
    direction: ltr;

    .pC_header::after,
    .pC_footer::before {
      left: 0;
    }
  }

  >.projectCard_demo {
    direction: ltr;

    > div {
      perspective: 1px;
      rotate: y 1.5deg;
    }
  }
}

@media (max-width: 719px) or (max-height: 719px) {
  .projectCard {
    grid-template-columns: auto !important;

    >.projectCard_info {
      grid-row: 2;
    }
    >.projectCard_demo {
      grid-row: 1;
    }

    .seeMore {
      top: -2rem;
      right: 0;
    }

    >.projectCard_demo > div {
      perspective: 0;
      rotate: x 0deg !important;
    }
  }
}