#skills_section {
  text-align: center;
  font-weight: bold;

  > div {
    width: 100%;
  }

  .skillLogo {
    gap: 8px;
    height: 100%;
    justify-content: flex-start;

    &::before {
      width: 40px;
    }
  }
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    filter: drop-shadow(var(--neon-shadows2-principal) var(--neon-main-color)) drop-shadow(var(--neon-shadows2-secondary) var(--main-color));
  }

  > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
    align-items: center;
    min-width: 40%;
    max-width: 100%;
    gap: 8px;
    height: 100%;
  }
}
