@import "sections_styles/_presentationSection.css";
@import "sections_styles/_projectsSection.css";
@import "sections_styles/_skillsSection.css";
@import "sections_styles/_contactMeSection.css";

main {
    align-self: flex-start;
    display: none;
    opacity: 0;
    flex-flow: column nowrap;
    padding: 0 1rem;
    box-sizing: border-box;
    transition: opacity 200ms ease-out;

    & > section {
        min-height: 80vh;
        width: 100%;
        max-width: 900px;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-bottom: 16px;
        }
    }
}

.card {
    border: 2px solid rgba(13, 29, 0, 0.5);
    border-radius: 12px;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    background-color: var(--bg-color);
    box-sizing: border-box;
    transition: box-shadow 300ms ease-out;
    position: relative;

    &.formation {
        display: flex;
        flex-direction: column;

        ul {
            list-style-type: disc;
            padding-left: 1rem;
        }
    }
    
    + .card {
        margin-top: 1rem;
    }

    &:hover {
        scale: 1.01;
        box-shadow: 10px 5px var(--bg-contrast-color);

        .seeMore {
            outline: 5px solid var(--bg-contrast-color);
            padding: .8rem;
            padding-bottom: .5rem;
            transition: 300ms;
        }
    }

    .seeMore {
        position: absolute;
        right: -1rem;
        top: -1rem;
        font-size: 32px;
        display: block;
        background-color: var(--secondary-color);
        border-radius: 100%;
        padding: .5rem;
        padding-bottom: .2rem;
        cursor: pointer;
        z-index: 10;

        svg {
            width: 32px;
        }
    }
}

.comment {
    padding-left: 2rem;
}
