@import "sections_styles/_presentationSection.css";
@import "sections_styles/_proyectsSection.css";

main {
    align-self: flex-start;
    display: none;
    flex-flow: column nowrap;
    padding: 0 1rem;
    box-sizing: border-box;
    
    & > section {
        min-height: 80vh;
        width: 100%;
        max-width: 900px;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
    }
}
