@import "sections_styles/_presentationSection.css";
@import "sections_styles/_proyectsSection.css";

main {
    align-self: flex-start;
    display: none;
    flex-flow: column nowrap;
    padding: 0 1rem;
    box-sizing: border-box;
    
    & > section {
        min-height: 80vh;
        width: 100%;
        max-width: 900px;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
    }
}

.card {
    border: 2px solid rgba(13, 29, 0, 0.5);
    border-radius: 12px;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    background-color: var(--bg-color);
    box-sizing: border-box;
    transition: box-shadow 300ms ease-out;
    
    + .card {
        margin-top: 1rem;
    }
}

.comment {
    padding-left: 2rem;
}
