#projectRoot {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.projectsNavbar {
  display: flex;
  padding: 1.2rem;
  gap: .2rem;
  align-items: center;
  background-color: var(--bg-contrast-color);
  color: var(--bg-color);

  a {
    color: var(--bg-color);
    margin-left: 8px;
  }
}

main.notIndex {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  opacity: 1;

  p,
  li {
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }

  section {
    min-height: initial;
    max-width: 1148px;
    margin-bottom: 0;
    gap: 1rem;
  }

  >header {
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: var(--bg-contrast-color);
    border-radius: 8px;

    >ul {
      display: flex;
    }

    .card {
      padding: 0;
      width: auto;

      a {
        padding: .3rem;
      }
    }
  }
}

#projectPresentation {
  background-color: rgba(105, 105, 105, 0.3);
  padding: 64px .5rem;
  max-width: initial;

  >div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1148px;

    div:nth-child(1) {
      max-width: 640px;
    }

    video, img {
      width: 450px;
    }

    img {
      filter: drop-shadow(5px 5px 5px);
    }

    div:nth-child(2) {
      width: 100%;
      height: 20px;
      background-color: red;
    }
  }
}

#projectUses {
  gap: 2rem;

  .usesList {
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
  }

  > ul, .usesList > ul {
    padding-left: 2rem;
    list-style: disc;
  }
}

#projectTechFeatures {
  > ul {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.5rem;

    li {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      gap: 8px;

      span {
        font-weight: 800;
        font-size: 2rem;
        color: var(--main-color);
      }
    }
  }
}

#carrousel {
  max-width: initial;
  width: 100%;
  background-color: var(--third-color);
  padding: 2rem 0;
}

.carrouselContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 1148px;
}

.imageCarrouselContainer {
  flex: 0 0 100%;
  display: flex;
  position: relative;
  scroll-snap-align: start;

  img {
    width: 100%;
    max-width: 1148px;
  }

  span {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;

    transition: opacity 300ms;
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}

.carrouselButtons {
  display: flex;
  gap: 1rem;

  > span {
    aspect-ratio: 1;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    cursor: pointer;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}