/* @import "styles/_navStyles.css";
@import "styles/_skills.css";
@import "styles/_mainStyles.css";
@import "styles/_proyectPageStyles.css"; */

:root {
    --main-color: rgb(30, 159, 173) ;
    --neon-main-color: rgb(74, 234, 255);

    --secondary-color: rgb(64, 0, 215);
    --secondary-color-dark: rgb(39, 9, 109);
    --neon-secondary-color: rgb(145, 98, 255);

    --third-color: rgb(10, 138, 111);
    --third-color-dark: rgb(3, 49, 36);
    --neon-third-color: rgb(16, 255, 203);

    --bg-color: rgb(221, 238, 234);
    --bg-contrast-color: /* rgb(92, 87, 62); */rgb(6, 64, 71);

    --page-bg-color: rgb(10, 21, 75);
    --page-bg-color2: rgb(19, 56, 112);

    --font-color: rgb(166, 245, 255);

    --neon-shadows1-principal: 0 0 8px;
    --neon-shadows1-secondary: 0 0 16px;
    --neon-shadows2-principal: 0 0 4px;
    --neon-shadows2-secondary: 0 0 10px
}

* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 17px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--bg-contrast-color);
    border-radius: 8px;
}

body {
    background: linear-gradient(60deg, var(--page-bg-color) 20%, var(--page-bg-color2) 150%);;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: calc(normal + 6px);
}

button {
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: rgb(207, 207, 207);
        transition: 300ms;
    }
    
    &.outstanding {
        background-color: var(--third-color);
        color: var(--neon-third-color);
        border: 2px solid var(--neon-third-color);
        filter: drop-shadow(var(--neon-shadows2-principal) var(--neon-third-color));
        
        &:hover {
          background-color: var(--third-color-dark);
        }
    }
}

#loadingScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        aspect-ratio: 1;
        width: 15%;
        max-width: 70px;
        border-top: var(--main-color) 15px solid;
        border-bottom: var(--main-color) 15px solid;
        border-left: transparent 15px solid;
        border-right: transparent 15px solid;
        border-radius: 100%;
        animation: loadingAnimation 2s ease-in-out infinite;
    }
}
@keyframes loadingAnimation {
    100% {rotate: 360deg;}
}

#root {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--font-color);
}

h1 {
    font-size: 4.5rem;
    color: var(--main-color);
    line-height: 5rem;
    margin-bottom: 1rem;
    
    .important {
        color: var(--neon-secondary-color);
        filter: drop-shadow(var(--neon-shadows1-principal) var(--neon-secondary-color)) drop-shadow(var(--neon-shadows1-secondary) var(--secondary-color));
    }
}
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem;}
p { font-size: 1.2rem; }
.important {color: var(--secondary-color);}

a { text-decoration: none; color: var(--main-color); }

ul { list-style-type: none; }

#changeLanguage_button {
    align-self: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    
    > input {
        appearance: none;
        width: 80px;
        height: 32px;
        border-radius: 16px;
        background-color: aliceblue;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background-color: var(--third-color);
            position: absolute;
            left: 0;
            transition: 300ms all;
        }

        &:checked {
            &::before {
                left: 48px;
            }
        }
    }
}

@media (max-width: 719px) or (max-height: 719px) {
    h1 { font-size: 3.2rem; line-height: 3.3rem; }
    h2 { font-size: 2.6rem; }
    h3 { font-size: 1.8rem;}
    *::-webkit-scrollbar { width: 0; }
}