/* @import "styles/_navStyles.css";
@import "styles/_skills.css";
@import "styles/_mainStyles.css";
@import "styles/_proyectPageStyles.css"; */

:root {
    --main-color: rgb(73, 143, 20) ;
    --secondary-color: rgb(215, 136, 0);
    --secondary-color-dark: rgb(171, 104, 3);
    --third-color: rgb(0, 62, 63);
    /* --bg-color: rgb(35, 112, 95); */
    --bg-color: rgb(221, 238, 234);
    --bg-contrast-color: /* rgb(92, 87, 62); */rgb(13,29,0);
    --page-bg-color: rgb(201, 205, 226);
    --page-bg-color2: rgb(19, 56, 112);
    --presentationCard-color: rgb(49, 64, 35);
}

* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 17px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--bg-contrast-color);
    border-radius: 8px;
}

body {
    background: linear-gradient(60deg, var(--page-bg-color) 20%, var(--page-bg-color2) 150%);;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: calc(normal + 6px);
}

button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    
    &.outstanding {
        background-color: var(--secondary-color);
        color: var(--bg-contrast-color);
    }

    &:hover {
      background-color: var(--secondary-color-dark);
    }
}

#loadingScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        aspect-ratio: 1;
        width: 15%;
        max-width: 70px;
        border-top: var(--main-color) 15px solid;
        border-bottom: var(--main-color) 15px solid;
        border-left: transparent 15px solid;
        border-right: transparent 15px solid;
        border-radius: 100%;
        animation: loadingAnimation 2s ease-in-out infinite;
    }
}
@keyframes loadingAnimation {
    100% {rotate: 360deg;}
}

#root {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.5rem; color: var(--main-color);
    line-height: 5rem; margin-bottom: 1rem;
}
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem;}
.important {color: var(--secondary-color);}

a { text-decoration: none; color: initial; }

ul { list-style-type: none; }

@media (max-width: 719px) or (max-height: 719px) {
    h1 { font-size: 3.6rem !important; }
    h2 { font-size: 2.8rem !important; }
    *::-webkit-scrollbar { width: 0; }
}