.skillLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 8px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.javascript::before {
  background-image: url("../skillsSvg/javascript.svg");
}

.typescript::before {
  background-image: url("../skillsSvg/typescript.svg");
}

.java::before {
  background-image: url("../skillsSvg/java.svg");
}

.react::before {
  background-image: url("../skillsSvg/react.svg");
}

.react.router::before {
  background-image: url("../skillsSvg/react-router.svg");
}

.spring::before {
  background-image: url("../skillsSvg/spring.svg");
}

.html::before {
  background-image: url("../skillsSvg/html.svg");
}

.css::before {
  background-image: url("../skillsSvg/css.svg");
}

.sass::before {
  background-image: url("../skillsSvg/sass.svg");
}

.thymeleaf::before {
  background-image: url("../skillsSvg/thymeleaf.svg");
}

.bootstrap::before {
  background-image: url("https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png");
}

.figma::before {
  background-image: url("https://cdn.iconscout.com/icon/free/png-512/figma-2296071-1912030.png");
}

.mysql::before {
  background-image: url("../skillsSvg/mysql.svg");
}

.mongodb::before {
  background-image: url("../skillsSvg/mongo.svg");
}

.git::before {
  background-image: url("../skillsSvg/git.svg");
}

.github::before {
  background-image: url("../skillsSvg/github.svg");
}

.docker::before {
  background-image: url("../skillsSvg/docker.svg");
}

.postman::before {
  background-image: url("../skillsSvg/postman.svg");
}

.material.ui::before {
  background-image: url("../skillsSvg/material.svg");
}