.skillLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 4px;
  padding-top: 8px;
  background-color: var(--page-bg-color2);
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    width: 32px;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Lenguajes de programación */
.java::before {
  background-image: url("../skillsSvg/java.svg");
}

.javascript::before {
  background-image: url("../skillsSvg/javascript.svg");
}

.typescript::before {
  background-image: url("../skillsSvg/typescript.svg");
}

/* Frameworks y librerías */

.spring::before {
  background-image: url("../skillsSvg/spring.svg");
}

.react::before {
  background-image: url("../skillsSvg/react.svg");
}

.react.router::before {
  background-image: url("../skillsSvg/react-router.svg");
}

/* Herramientas de marcado y estilos */

.html::before {
  background-image: url("../skillsSvg/html.svg");
}

.css::before {
  background-image: url("../skillsSvg/css.svg");
}

.sass::before {
  background-image: url("../skillsSvg/sass.svg");
}

.thymeleaf::before {
  background-image: url("../skillsSvg/thymeleaf.svg");
}

.bootstrap::before {
  background-image: url("../skillsSvg/bootstrap.svg");
}

.figma::before {
  background-image: url("https://cdn.iconscout.com/icon/free/png-512/figma-2296071-1912030.png");
}

/* Bases de datos */

.mysql::before {
  background-image: url("../skillsSvg/mysql.svg");
}

.mongodb::before {
  background-image: url("../skillsSvg/mongo.svg");
}

/* Herramientas de desarrollo */

.git::before {
  background-image: url("../skillsSvg/git.svg");
}

.github::before {
  background-image: url("../skillsSvg/github.svg");
}

.docker::before {
  background-image: url("../skillsSvg/docker.svg");
}

.postman::before {
  background-image: url("../skillsSvg/postman.svg");
}

.material.ui::before {
  background-image: url("../skillsSvg/material.svg");
}

.jwt::before {
  background-image: url("../skillsSvg/jwt.svg");
}

/* Apis */
.graphql::before {
  background-image: url("../skillsSvg/graphql.svg");
}

.rest::before {
  background-image: url("../skillsSvg/apiRest.svg");
}

.gateway::before {
  background-image: url("../skillsSvg/gateway.svg");
}